@using Domain.Core.HomeService.DTOS;
@model RequestDTO;

@{
    ViewData["Title"] = "جزئیات";
}
<div class="row">
    <div class="col-6">
        <h3>جزئیات سفارش</h3>
    </div>
</div>
<div>
    <table class="table table-bordered">
        <tr>
            <td>ساعت ایجاد</td>
            <td>@Model.CreatedDate</td>
        </tr>
        <tr>
            <td>نوع سرویس</td>
            <td>@Model.Service.Title</td>
        </tr>
        <tr>
            <td>قیمت پایه</td>
            <td>@Model.Price</td>
        </tr>
        <tr>
            <td>آدرس</td>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <td>ساعت انجام</td>
            <td>@Model.DeadLine</td>
        </tr>
        <tr>
            <td>نام مشتری</td>
            <td>@Model.CustomerName</td>
        </tr>
        <tr>
            <td>نام متخصص</td>
            <td>@Model.ExpertName</td>
        </tr>
        <tr>
            <td>وضعیت سفارش</td>
            <td>وضعیت سفارش</td>
            @if (Model.StatusId != null)
            {
                @if (Model.StatusId == 1)
                {
                    <td>
                        در انتظار پیشنهاد متخصصین
                    </td>
                }
                @if (Model.StatusId == 2)
                {
                    <td>
                        پیشنهاد متخصص تایید شد
                    </td>
                }
                @if (Model.StatusId == 3)
                {
                    <td>
                        متخصص به محل رسیده و در حال انجام سفارش است
                    </td>
                }
                @if (Model.StatusId == 4)
                {
                    <td>
                        در انتظار پرداخت
                    </td>
                }
                @if (Model.StatusId == 5)
                {
                    <td>
                        سفارش انجام شده
                    </td>
                }

            }
        </tr>
    </table>
    @if(Model.File == null || Model.FileLocation == null)
    {
        <p>
            عکس ندارد
        </p>
    }
    else
    {
        <div class="container-fluid">
            <div class="col-lg-12">
        <div class="post-card-image">
                <img src="@Model.FileLocation" alt="">
        </div>
        </div>
        </div>
    }
</div>