@using Domain.Core.HomeService.DTOS;
@model List<ServiceDTO>;


@foreach (var item in Model)
{
    @if (item.IsActive == true)
    {
        <section class="section masonry-layout pt-45">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-columns">
                            <div class="card">
                                <div class="post-card">
                                    <div class="post-card-image">
                                        <a asp-controller="Home" asp-action="ServiceDetails" asp-route-serviceId="@item.Id">
                                            <img src="~/Images/WallpaperDog-10970322.png" alt="">
                                        </a>

                                    </div>
                                    <div class="post-card-content">
                                        <a asp-controller="Home" asp-action="ServiceDetails" asp-route-serviceId="@item.Id"> @item.Title </a>
                                        <h5>
                                            <a asp-controller="Home" asp-action="ServiceDetails" asp-route-serviceId="@item.Id"> دیدن جزئیات </a>
                                        </h5>
                                        <p>
                                            @item.Description
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}