@using Domain.Core.HomeService.DTOS;
@model List<ServiceDTO>;


<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-lg-12 text-center">
            <h1 class="text-primary mt-3">لیست سرویس‌های زیرمجموعه</h1>
            <p class="text-muted">
                در این صفحه می‌توانید لیستی از سرویس‌های زیرمجموعه موجود را مشاهده کنید و جزئیات هر یک را بررسی کنید.
            </p>
        </div>
    </div>
</div>

<section class="section masonry-layout pt-45">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-columns d-flex flex-wrap">
                    @foreach (var item in Model)
                    {
                        @if (item.IsActive)
                        {
                            <div class="card" style="width: 18rem; margin: 10px;">
                                <div class="post-card">
                                    <div class="post-card-image">
                                        <a asp-controller="Home" asp-action="ServiceDetails" asp-route-serviceId="@item.Id">
                                            <img src="~/Images/WallpaperDog-10970322.png" alt="">
                                        </a>
                                    </div>
                                    <div class="post-card-content">
                                        <h5>
                                            <a asp-controller="Home" asp-action="ServiceDetails" asp-route-serviceId="@item.Id">
                                                @item.Title
                                            </a>
                                        </h5>
                                        <a asp-controller="Home" asp-action="ServiceDetails" asp-route-serviceId="@item.Id" class="btn btn-primary">
                                            دیدن جزئیات
                                        </a>
                                        <p>
                                            @item.Description
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>