@using Domain.Core.HomeService.DTOS;
@model List<RequestDTO>;

<h3>لیست سفارشات</h3>
<table class="table table-striped table-light">
    <thead>
        <tr>
            <th>شماره سفارش</th>
            <th>تاریخ ثبت</th>
            <td>نام سرویس</td>
            <th>نام متخصص</th>
            <th>قیمت پایه</th>
            <th>آدرس</th>
            <th>تاریخ سرویس</th>
            <th>وضعیت سفارش</th>
            <th>اعمالات</th>
            <th>نظرات</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Id</td>
                <td>@request.CreatedDate</td>
                <td>@request.Service.Title</td>
                <td>@request.ExpertName</td>
                <td>@request.Price</td>
                <td>@request.Address</td>
                <td>@request.DeadLine</td>
                <td>@request.StatusTitle</td>
                <td>                   
                    <a asp-controller="Customer" asp-action="RequestBids" asp-route-requestId="@request.Id" asp-route-customerId="@request.CustomerId" class="btn btn-primary">مشاهده پیشنهادات</a>
                    <a asp-controller="Customer" asp-action="CustomerRequestDetails" asp-route-requestId="@request.Id" asp-route-customerId="@request.CustomerId" class="btn btn-info">جزئیات</a>
                    @if (request.StatusId == 5)
                    {
                        @if (request.Comments.Any(x => x.CustomerId == @ViewBag.CustomerId))
                        {
                        <td><a asp-controller="Customer" asp-action="SeeComment" asp-route-rquestId="@request.Id" class="btn btn-info">نظرات سفارش</a></td>
                        }
                        else
                        {
                        <td><a asp-controller="Customer" asp-action="CreateComment" asp-route-requestId="@request.Id" asp-route-serviceId="@request.ServiceId" class="btn btn-info">ثبت نظر</a></td>
                        }
                    }
                </td>
            </tr>

        }
    </tbody>
</table>